<!-- removed of base.html extension - any error just bring it from the old archives header -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="navbar d-flex justify-content-between align-items-center py-3">
                <div class="logo">
                    <a href="index.html"><img src="{{ url_for('static', filename='images/REPVS Logo.png') }}" width="125px" alt="logo"></a>
                </div>
    
                <nav>
                    <ul id="menuitems" class="nav">
                        <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                        <!-- <li class="nav-item"><a class="nav-link" href="products.html">Products</a></li>
                        <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li> -->
    
                        <button type="button" class="btn btn-warning mx-3"><a href="{{url_for('logout')}}">Logout</a></button>
                    </ul>
    
            </div>
        </div>
    </div>
    
</body>
</html>


